<div class="article pt-3">
  <div class="article-meta d-flex align-items-center">
    <img class="avatar" src="./assets/152.jpg" alt="avatar">
    <div class="info">
      <a href="#" class="author">Harry</a>
      <p class="date">August 27, 2022</p>
    </div>
    <button class="btn favorite-btn btn-sm ms-auto">
      <i class="fa-solid fa-heart"></i>
    </button>
  </div>
  <div class="preview-link">
    <h1 class="title"> Create a new implementation </h1>
    <p class="desc"> Share your knowledge and enpower the community by creating a new implementation </p>
    <div class="footer-title">
      <span class="read-more">Read more...</span>
      <div class="tags">
        <span class="tag-default">implementations</span>
      </div>
    </div>
  </div>
</div>
