.setting-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px auto;
  max-width: 662px;
}

.update-btn{
  margin-left: auto;
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
  &:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
  }
}
.logout-btn{
  margin-right: auto;
}
