.login a {
  color: #5cb85c;
  text-decoration: none;

  &:hover {
    color: #3d8b3d;
    text-decoration: underline;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin: 16px auto;
  gap: 16px;

}

.sign-in-btn {
  margin-left: auto;
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
  &:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
  }
}

