<div class="login text-center">
  <h1>Sign iup </h1>
  <a href="#"> Have an account?</a>
  <form action="" class="login-form">
    <input type="text" class="form-control form-control-lg" autocomplete="user-name" placeholder="Username">
    <input type="email" class="form-control form-control-lg" autocomplete="new-email" placeholder="Email">
    <input type="password" class="form-control form-control-lg" autocomplete="new-password" placeholder="Password">
    <button type="button" class="btn sign-in-btn btn-lg">Sign up</button>
  </form>
</div>
