<div class="banner">
  <div class="container">
    <div class="user-info">
      <img src="./assets/152.jpg" alt="" class="avatar">
      <h4 class="user-name">Loc</h4>
    </div>
    <button
      class="btn btn-outline-secondary btn-sm ms-auto d-flex align-items-center"
    >
      <i class="fa-solid fa-plus me-1"></i> Follow me
    </button>
  </div>
</div>
<div class="content">
  <div class="offset-md-1">
    <app-tab-toggle></app-tab-toggle>
<!--    <router-outlet></router-outlet>-->
  </div>
</div>
