<form action="" class="article-form">
  <input
    type="text"
    class="form-control form-control-lg"
    placeholder="Article Title"
  />
  <input
    type="text"
    class="form-control"
    placeholder="What's this article about"
  />
  <textarea
    rows="6"
    class="form-control form-control-lg"
    placeholder="Write your article (in markdown)"
  ></textarea>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="What's this article about"
    />
  </div>
  <button type="button" class="btn submit-btn btn-lg">
    Publish Article
  </button>
</form>

